<html>
    <head>
        <title>Django</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>publicado: 19.04.2016, 10:00</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Nós criamos três seções div aqui.O primeiro elemento div possui o título do nosso blog - é um título e um link Os outros dois elementos div possuem nossas postagens com a data de publicação, h2 com o título da postagem que é clicável e dois ps (parágrafos) de texto, um para a data e outro para o texto da postagem.</p>
        </div>

        <div>
            <p>publicado: 19.04.2016, 10:00</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>O que nós realmente queremos fazer é exibir postagens reais que foram adicionadas no Django admin - e isso é o que faremos em seguida.</p>
            <p>publicado: 19.04.2016, 10:00</p>
        </div>
    </body>
</html>